main {
  position: relative;
  margin-top: 6.25rem;
  border: 1px solid rgb(120, 0, 255);
  height: 1000px;
}

main .inner {
  position: relative;
  /* border: 1px solid #000; */
  height: 1000px;
}

main .inner aside {
  position: absolute;
  right: calc(100% + 17.5px);
  width: 250px;
  height: 100px;
  border: 1px solid #000;
}
main .inner .notice_board h1 {
  display: block;
  width: 100%;
  padding: 2rem 0 5rem 1rem;
  font-size: var(--font-size-h1);
}
main .inner .notice_board .row_line{
  width: 100%;
  height: 2px;
  background: #000;
}
main li {
  padding: 0 2rem;
  height: 50px;
  width: 100%;
  border: 1px solid #000;
}
main li::before {
  content: '';
  display: block;
  clear: both;
}
main ul li:nth-child(1) span {
  justify-content: center;
}
main li a {
  display: block;
  width: 100%;
  height: 100%;
}
main li a span {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  /* border: 1px solid #000; */
}
main li span.post_order,
main li span.post_title {
  font-size: var(--header-font-size);
}
main li span.post_order {
  width: 5%;
}
main li span.post_title {
  width: 60%;
}
main li:hover span.post_title {
  text-decoration: underline;
  text-decoration-color: #ed3e3e;
}
main li span.post_writer {
  width: 10%;
}
main li span.post_date {
  width: 10%;
  justify-content: center;
}
main li span.post_like {
  float: right;
  width: 5%;
  justify-content: center;
}