
@media (max-width: 768px) {
  header .inner {
    justify-content: end;
  }
  header .inner .wrap-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  header .inner .wrap-gnb {
    display: none;
  }
  header .inner .wrap-icon-map {
    display: none;
  }
  header .inner .burger {
    display: block;
  }
  header .inner .burger .line {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ed3e3e;
    transition: .3s;
  }
  .burger .line1 {
    left: 0;
    top: 0;
  }
  .burger .line2 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .burger .line3 {
    left: 0;
    bottom: 0;
  }
  /* burger js active toggle*/
  .burger.active .line1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .burger.active .line2 {
    opacity: 0;
  }
  .burger.active .line3 {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  /* burgermenu */
  .burger-menu {
    position: absolute;
    top: var(--header-height);
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    box-shadow: inset 0 6px 2px -4px #ed3e3e;
    background: #fff;
    border: 1px solid #ed3e3e;
    transition: .3s;
    opacity: 0;
    z-index: 10;
  }
  .burger-menu.active {
    width: 100vw;
    opacity: 1;
  }
  .burger-menu > .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    border: 1px solid #ed3e3e;
    font-weight: 500;
    font-size: var(--header-font-size);
    padding: 0 2rem;
    cursor: pointer;
    overflow: hidden;
  }
  .burger-menu .title i {
    font-size: 2rem;
    color: #ed3e3e;
  }
  .burger-menu .wrap-slide {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
    background: #fcfcfc;
  }
  .burger-menu .wrap-slide.active {
    max-height: calc(var(--header-height) * 3);
  }
  .burger-menu .wrap-slide a {
    display: flex;
    justify-content: start;
    padding-left: 3rem;
    height: var(--header-height);
  }
  .burger-menu .title:hover,
  .burger-menu .wrap-slide a:hover {
    color: #ed3e3e;
    font-weight: 700;
  }
  .burger-menu .bottom-contents {
    position: relative;
    margin-top: 1.5rem;
  }
  .burger-menu .bottom-contents>a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: 90%;
    height: 60px;
    padding: 0 1rem;
    box-shadow: 2px 4px 2px 0 #c0c0c0;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-radius: 1rem;
  }
  .burger-menu .bottom-contents>a:hover {
    color: #ed3e3e;
  }
  .burger-menu .bottom-contents .customerServiceCenter {
    margin-bottom: 1.5rem;
  }
  .burger-menu .bottom-contents {}
}
@media (max-width: 1100px) {
  header .inner .wrap-gnb > a {
    width: calc(var(--header-gnb-width) / 2);
  }
}